body{
    background-color: orange;
    color: brown;
}

@media print {
    body{
        background-color: white;
        color: black;
    }
}
  
@media all{
    body{
        background-color: blue;
        color: white;
    }
}