.container{
    min-height: 150px;
    /* height: 150px; */
    border: 1px solid black;
    background-color: lemonchiffon;
    clear: both;
    overflow: hidden;
}

.container-item{
    width: 30%;
    height: 100px;
    background-color: beige;
    border: 1px solid black;
    float: left;
    margin: 10px 1.5%;

}

img{
    width: 100%;
    height: 100px;
}